!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate',  href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/assets/css/main.css')
      link(rel='shortcut icon', href='/favicon.ico')
  body
    #sidebar
      .inner
        .me
          a(href='/')
            img(src='/assets/img/DAddYE.png', height='180', width='180', alt=locals.name)
        .name DAddYE
        .bio Ruby and JavaScript Programmer
        ul.menu
          li.pink: a(href='/') Blog
          li.yellow: a(href='/pages/about-me/') About Me
          li.blue: a(href='/pages/languages/') Languages
          li.green: a(href='/pages/projects/') Projects
          li.purple: a(href='/pages/my-web-sites/') My WebSites
          li.gray: a(href='/pages/contacts/') Contacts

        block sidebar

      footer © #{moment().year()} - DAddYE.it
    #content
      .inner
        block content

    // Scripts
    block scripts
      script(type='text/javascript')
        var disqus_shortname = 'daddye'
      script(src='/assets/js/main.js', type='text/javascript')
